body, body *{
    font-family: 'Lato', sans-serif;
}

.background-img { 
  background: url(../img/o.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -1;
}

#menu{   
    position: fixed;
    width: 100%;
    height: 100px;
    padding-top: 40px;
    z-index: 1000;
}

#menu ul{
    list-style: none;
    position: fixed;
    right: 0;
}

#menu ul li{
    font-size: 20px;
    display: inline;
    margin-right: 75px;
    border-bottom: rgba(0,0,0,0) solid 1px;
    transition: all 500ms ease;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
        
}

#menu ul li:hover{
    border-bottom: white solid 1px;
}

#menu a{
    color: white;
}

#menu a:hover{
    text-decoration: none;
}

#intro{
    text-align: center;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top: 240px;
    height: 100vh;
}

#intro #logo{
    height: 200px;
    width: auto;
}

.box{
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}

#cream{
    padding-top: 10px;
    color: white;
    font-size: 70px;
    line-height: 60px;
}

#coffee{
    color: white;
    font-size: 24px;
    
}

.arrow{
    width: 50px;
    left: 0;
    right: 0;
    bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

#quote{
    height: 50px;
    text-align: center;
    line-height: 50px;
    background-color: gray;
    color: white;
    font-size: 20px;
}

#box1, #box2, #box3{
    height: 325px;
    padding-top: 40px;
}

.header{
    display: table-cell;
    text-align: center;
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.header div{
    display: inline-block;
    vertical-align: bottom;
}

.header .text{
    text-align: right;
    font-size: 40px;
    line-height: 40px;
    font-style: italic;
    padding-right: 16px;

}

.header .vector img{
    height: 100px;
}

.box-content{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 125px;
    text-align: center;
    font-size: 23px; 
}

#box2{
    background-color: #00aeef;
    color: white;
}

#box2 .text{
    text-align: left;
    padding-left: 16px;
    padding-right: 0px;
}

#box2 img{
    height: 70px;
}

#box3 img{
    height: 80px;
}

.footer{
    height: 400px;
    background-color: #3f3f3f;
    color: white;
    padding: 40px 40px 0px 40px;
}

.footer #copryright{
    position: absolute;
    bottom: 10px;
}